.wave-container {
    padding: 25px;
    max-width: 1000px;
    height: auto;
    background-color: rgba(34, 34, 34, 0.3);
    border-radius: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.item{
    overflow: hidden;
}

.waveFormClass{
    width: 100%;
    overflow: hidden;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    padding-right: 15px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}
.track-name{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
}

@media (max-width: 768px) {
    .wave-container {
        grid-template-columns: 1fr;
}}